body {
    background: url('https://www.dropbox.com/s/o07iwe7z1w33414/volcano-2728184_1920.png?raw=1') no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}    

.button1 {
    font-size: 20px;
    width: 20em;
    height: 3em;
    border-radius: 15px;
    margin-left: 37%;
    margin-top: 35%;
    color:blueviolet;
    background-color: black;
    border: solid;
}

.fortune-display {
    color: white;
    margin-left: 33%;
    margin-top: 15%;
    margin-bottom: -15%;
}